<html>
	<head>
        <link rel="icon" href="/img/cloud.jpeg">
		<link rel='stylesheet' href='./css/styles.css' />
	</head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Page Not Found</p>
        </div>
        {{>footer}}
    </body>
</html>